#!ipxe

###############################################
# snorp homelab // provisioning.snorp.dev
###############################################

set base http://192.168.8.180
set nb ${base}/netboot
set tools ${base}/tools

:menu
menu snorp homelab // provisioning.snorp.dev
item --gap --           --- MAC: ${netX/mac} IP: ${netX/ip} ---
item localboot          Local Boot
item shell              iPXE shell
item --gap --
item --gap -- ========= Linux =========
item debian             Debian 13 (Trixie)
item ubuntu             Ubuntu 26.04 LTS
item nixos              NixOS 25.11
item alpine             Alpine Linux 3.23
item kali               Kali Linux 2026.1
item --gap -- ========= FSF Approved =========
item trisquel           Trisquel 12 (KDE)
item pureos             PureOS 11 (KDE)
item --gap -- ========= Utilities =========
item dban               DBAN
item --gap -- ========= Meme =========
item amogos             AmogOS
item suicide            Suicide Linux (Debian + suffering)
choose --default localboot --timeout 60000 target && goto ${target}

:debian
kernel ${nb}/debian/linux
initrd ${nb}/debian/initrd.gz
imgargs linux auto=false priority=low
boot || goto menu

:ubuntu
kernel ${nb}/ubuntu/linux
initrd ${nb}/ubuntu/initrd
imgargs linux boot=casper netboot=url url=${base}/isos/ubuntu/ubuntu.iso ip=dhcp
boot || goto menu

:nixos
chain https://netboot.nixos.org/dispatch.php?version=nixos-25.11&arch=x86_64 || goto menu

:alpine
kernel ${nb}/alpine/vmlinuz
initrd ${nb}/alpine/initramfs
imgargs vmlinuz modules=loop,squashfs,sd-mod,usb-storage alpine_repo=https://dl-cdn.alpinelinux.org/alpine/latest-stable/main modloop=${nb}/alpine/modloop ip=dhcp
boot || goto menu

:kali
kernel ${nb}/kali/linux
initrd ${nb}/kali/initrd.gz
imgargs linux auto=false priority=low
boot || goto menu

:trisquel
kernel ${nb}/trisquel/linux
initrd ${nb}/trisquel/initrd.gz
imgargs linux boot=casper netboot=url url=${base}/isos/trisquel/trisquel.iso ip=dhcp
boot || goto menu

:pureos
kernel ${nb}/pureos/linux
initrd ${nb}/pureos/initrd.gz
imgargs linux boot=casper ip=dhcp
boot || goto menu

:dban
kernel ${tools}/dban/dban.bzi
imgargs dban.bzi nuke="dwipe --autonuke --method zero" silent vga=785
boot || goto menu

:amogos
kernel ${nb}/amogos/linux
initrd ${nb}/amogos/initrd
imgargs linux boot=casper ip=dhcp
boot || goto menu

:suicide
kernel ${nb}/debian/linux
initrd ${nb}/debian/initrd.gz
imgargs linux auto=true priority=critical url=${base}:8080/config/suicide
boot || goto menu

:shell
shell
goto menu

:localboot
exit